block footer
  footer.footer
    .container
      .footer--top
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos magni commodi neque quas ullam quaerat
          | ad,
          | praesentium tempora explicabo dolor maxime sequi, iste veritatis quidem soluta, minus architecto. Dolore,
          | odio!
      .footer--bottom
        section.sec-grid
          .grid-even-columns
            .flow.p-40.surface-neutral-100
              .flow__icon-wrapper.mb-20
                span.icon.icon-comment
              .flow__content-wapper
                h3.flow__content.flow__content-title.fs-400.fw-bold Store and sync
                p.flow__content.flow__content-desc
                  | Keep all your files securely stored, up to date, and
                  | accessible from any device
            .flow.p-40.surface-neutral-100
              .flow__icon-wrapper.mb-20
                span.icon.icon-share
              .flow__content-wrapper
                h3.flow__content.flow__content-title.fs-400.fw-bold Share
                p.flow__content.flow__content-desc
                  | Quickly send any file&mdash;big or small&mdash;to anyone, even if they
                  | don&rsquo;t have a Dropbox account.
            .flow.p-40.surface-neutral-100
              .flow__icon-wrapper.mb-20
                span.icon.icon-shield
              .flow__content-wrapper
                h3.flow__content.flow__content-title.fs-400.fw-bold Stay secure
                p.flow__content.flow__content-desc
                  | Keep your files private with multiple layers of protection
                  | from the service trusted by millions.
            .flow.p-40.surface-neutral-100
              .flow__icon-wrapper.mb-20
                span.icon.icon-people(src='https://assets.codepen.io/308367/comment.svg')
              h3.flow__content.flow__content-title.fs-400.fw-bold Collaborate
              p.flow__content.flow__content-desc
                | Manage tasks, track file updates, and stay in sync with your
                | teams and clients.
          .grid-odd-columns.mt-50
            .flow.p-40.surface-neutral-100
              .flow__icon-wrapper.mb-20
                span.icon.icon-comment
              .flow__content-wrapper
                h3.flow__content.flow__content-title.fs-400.fw-bold Store and sync
                p.flow__content.flow__content-desc
                  | Keep all your files securely stored, up to date, and
                  | accessible from any device
            .flow.p-40.surface-neutral-100
              .flow__icon-wrapper.mb-20
                span.icon.icon-share
              .flow__content-wrapper
                h3.flow__content.flow__content-title.fs-400.fw-bold Share
                p.flow__content.flow__content-desc
                  | Quickly send any file&mdash;big or small&mdash;to anyone, even if they
                  | don&rsquo;t have a Dropbox account.
            .flow.p-40.surface-neutral-100
              .flow__icon-wrapper.mb-20
                span.icon.icon-shield
              .flow__content-wrapper
                h3.flow__content.flow__content-title.fs-400.fw-bold Stay secure
                p.flow__content.flow__content-desc
                  | Keep your files private with multiple layers of protection
                  | from the service trusted by millions.
            .flow.p-40.surface-neutral-100
              .flow__icon-wrapper.mb-20
                span.icon.icon-people
              .flow__content-wrapper
                h3.flow__content.flow__content-title.fs-400.fw-bold Collaborate
                p.flow__content.flow__content-desc
                  | Manage tasks, track file updates, and stay in sync with your
                  | teams and clients.
  .scroll-to-top
    span.icon.icon-arrow-up
