html(lang="en")
  include ../mixins/index.pug
  include ../includes/head.pug
  body
    include ../includes/header.pug
    main(role='main')
      .main__content
        block main-content
        include ../includes/social-button-list.pug
    include ../includes/footer.pug
