/* The Modal (background) */
/* Modal Content */
/* Add Animation */
@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
/* The Close Button */
.modal {
	display: none;
	position: fixed;
	z-index: 11;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
  &--no-backdrop{
    background-color: transparent;
  }

}
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration:0.7s;
	animation-name: animatetop;
	animation-duration: 0.7s;
  width: 80%;
}
.close {
	color: white;
  position: absolute;
  top: 8px;
  right: 16px;
	margin-left: auto;
	font-size: 32px;
	font-weight: bold;
  transition: transform 0.7s ease-in-out;
	&:hover,	&:focus  {
    transform: rotate(180deg);
		color: #f3f3f3a5;
		text-decoration: none;
		cursor: pointer;
	}
}
.modal-header {
	padding: 16px;
	background-color: #5cb85c;
	color: white;
}
.modal-body {
	padding:16px;
}
.modal-footer {
	padding:16px;
	background-color: #5cb85c;
	color: white;
}
