block product-list
  .product-list
    .product-card
      .product-card__overlay
        .product-card--top
          .product-card__ribbon
            span.icon.icon-home
            | New
          .product-card__images
            img(src="/assets/images/products/product03.webp", alt="product03")
            img(src="/assets/images/products/product04.webp", alt="product04")
          .product-card__quick-add
            .product-card__btn
              span.icon.icon-plus.mr-5
              |Quick add
            .product-card__size-panel
        .product-card--bottom
          h3.product-card__title Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam ducimus in quo mollitia aliquam, corrupti voluptatibus debitis rem perferendis libero veniam nam non minima, eaque tenetur, accusantium minus ea sint.
          .product-card__desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, eos autem consectetur optio aliquid assumenda odio unde quisquam, omnis architecto obcaecati aut, saepe fugiat voluptatem facilis. Natus molestias cupiditate iure.
          .product-card__color-variants 3 colors
          .product-card__price 399
    .product-card
      .product-card__overlay
        .product-card--top
          .product-card__ribbon
            span.icon.icon-home
            | New
          .product-card__images
            img(src="/assets/images/products/product08.webp", alt="product08")
            img(src="/assets/images/products/product09.webp", alt="product09")
          .product-card__quick-add
            .product-card__btn
              span.icon.icon-plus.mr-5
              |Quick add
            .product-card__size-panel
        .product-card--bottom
          h3.product-card__title Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, rerum ab. Ipsam odio voluptate possimus, quidem accusantium dolorum nihil quibusdam molestias, aspernatur dignissimos sint maiores beatae numquam, non facere. Voluptas!
          .product-card__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .product-card__color-variants 3 colors
          .product-card__price 399
    .product-card
      .product-card__overlay
        .product-card--top
          .product-card__ribbon
            span.icon.icon-home
            | New
          .product-card__images
            img(src="/assets/images/products/product12.webp", alt="product12")
            img(src="/assets/images/products/product13.webp", alt="product17")
          .product-card__quick-add
            .product-card__btn
              span.icon.icon-plus.mr-5
              |Quick add
            .product-card__size-panel
        .product-card--bottom
          h3.product-card__title Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero aut sunt quam explicabo distinctio nam, corrupti esse porro ad delectus ducimus sed aspernatur sint, modi quod tempora soluta asperiores perspiciatis.
          .product-card__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .product-card__color-variants 3 colors
          .product-card__price 399
    .product-card
      .product-card__overlay
        .product-card--top
          .product-card__ribbon
            span.icon.icon-home
            | New
          .product-card__images
            img(src="/assets/images/products/product16.webp", alt="product16")
            img(src="/assets/images/products/product17.webp", alt="product17")
          .product-card__quick-add
            .product-card__btn
              span.icon.icon-plus.mr-5
              |Quick add
            .product-card__size-panel
        .product-card--bottom
          h3.product-card__title Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo sint quas molestiae totam magnam officiis laudantium, maiores mollitia perspiciatis ad, maxime fugit commodi ipsam dolore omnis velit? Ex, pariatur reprehenderit!
          .product-card__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .product-card__color-variants 3 colors
          .product-card__price 399
