block product-list
  .product-list
    .product-card
      .product-card__overlay
        .product-card--top
          .product-card__ribbon
            span.icon.icon-home
            | New
          .product-card__images
            img(src="/assets/images/products/product03.webp", alt="product03")
            img(src="/assets/images/products/product04.webp", alt="product04")
          .product-card__quick-add
            .product-card__btn
              span.icon.icon-plus.mr-5
              |Quick add
            .product-card__size-panel
        .product-card--bottom
          h3.product-card__title Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam ducimus in quo mollitia aliquam, corrupti voluptatibus debitis rem perferendis libero veniam nam non minima, eaque tenetur, accusantium minus ea sint.
          .product-card__desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, eos autem consectetur optio aliquid assumenda odio unde quisquam, omnis architecto obcaecati aut, saepe fugiat voluptatem facilis. Natus molestias cupiditate iure.
          .product-card__color-variants 3 colors
          .product-card__price 399
    .product-card
      .product-card__overlay
        .product-card--top
          .product-card__ribbon
            span.icon.icon-home
            | New
          .product-card__images
            img(src="/assets/images/products/product09.webp", alt="product09")
            img(src="/assets/images/products/product10.webp", alt="product10")
          .product-card__quick-add
            .product-card__btn
              span.icon.icon-plus.mr-5
              |Quick add
            .product-card__size-panel
        .product-card--bottom
          h3.product-card__title Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, rerum ab. Ipsam odio voluptate possimus, quidem accusantium dolorum nihil quibusdam molestias, aspernatur dignissimos sint maiores beatae numquam, non facere. Voluptas!
          .product-card__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .product-card__color-variants 3 colors
          .product-card__price 399
    .product-card
      .product-card__overlay
        .product-card--top
          .product-card__ribbon
            span.icon.icon-home
            | New
          .product-card__images
            img(src="/assets/images/products/product15.webp", alt="product15")
            img(src="/assets/images/products/product16.webp", alt="product16")
          .product-card__quick-add
            .product-card__btn
              span.icon.icon-plus.mr-5
              |Quick add
            .product-card__size-panel
        .product-card--bottom
          h3.product-card__title Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero aut sunt quam explicabo distinctio nam, corrupti esse porro ad delectus ducimus sed aspernatur sint, modi quod tempora soluta asperiores perspiciatis.
          .product-card__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .product-card__color-variants 3 colors
          .product-card__price 399
    .product-card
      .product-card__overlay
        .product-card--top
          .product-card__ribbon
            span.icon.icon-home
            | New
          .product-card__images
            img(src="/assets/images/products/product22.webp", alt="product22")
            img(src="/assets/images/products/product23.webp", alt="product23")
          .product-card__quick-add
            .product-card__btn
              span.icon.icon-plus.mr-5
              |Quick add
            .product-card__size-panel
        .product-card--bottom
          h3.product-card__title Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo sint quas molestiae totam magnam officiis laudantium, maiores mollitia perspiciatis ad, maxime fugit commodi ipsam dolore omnis velit? Ex, pariatur reprehenderit!
          .product-card__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .product-card__color-variants 3 colors
          .product-card__price 399
    .product-card
      .product-card__overlay
        .product-card--top
          .product-card__ribbon
            span.icon.icon-home
            | New
          .product-card__images
            img(src="/assets/images/products/product28.webp", alt="product28")
            img(src="/assets/images/products/product29.webp", alt="product29")
          .product-card__quick-add
            .product-card__btn
              span.icon.icon-plus.mr-5
              |Quick add
            .product-card__size-panel
        .product-card--bottom
          h3.product-card__title Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore aliquam tenetur corporis excepturi ipsam, officiis culpa quam quos eveniet impedit non placeat, ratione facere voluptates omnis, quo recusandae repellat rem.
          .product-card__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident rem facere amet. Iusto porro, voluptate dolores aperiam quaerat facere ipsam. Ut expedita laborum explicabo voluptatem debitis nulla dolor minus quam!
          .product-card__color-variants 3 colors
          .product-card__price 399
    .product-card
      .product-card__overlay
        .product-card--top
          .product-card__ribbon
            span.icon.icon-home
            | New
          .product-card__images
            img(src="/assets/images/products/product31.webp", alt="product31")
            img(src="/assets/images/products/product32.webp", alt="product32")
          .product-card__quick-add
            .product-card__btn
              span.icon.icon-plus.mr-5
              |Quick add
            .product-card__size-panel
        .product-card--bottom
          h3.product-card__title Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus repudiandae voluptatum autem reprehenderit suscipit aperiam dolore quibusdam eum iste itaque illum, incidunt voluptate, commodi explicabo asperiores nemo, veniam libero quasi.
          .product-card__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem asperiores non rerum, consequatur voluptas consequuntur aliquid praesentium excepturi libero esse quae possimus distinctio corporis laboriosam similique accusamus nobis nemo dicta?
          .product-card__color-variants 3 colors
          .product-card__price 399
    .product-card
      .product-card__overlay
        .product-card--top
          .product-card__ribbon
            span.icon.icon-home
            | New
          .product-card__images
            img(src="/assets/images/products/product37.webp", alt="product37")
            img(src="/assets/images/products/product38.webp", alt="product38")
          .product-card__quick-add
            .product-card__btn
              span.icon.icon-plus.mr-5
              |Quick add
            .product-card__size-panel
        .product-card--bottom
          h3.product-card__title Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo sint quas molestiae totam magnam officiis laudantium, maiores mollitia perspiciatis ad, maxime fugit commodi ipsam dolore omnis velit? Ex, pariatur reprehenderit!
          .product-card__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .product-card__color-variants 3 colors
          .product-card__price 399
    .product-card
      .product-card__overlay
        .product-card--top
          .product-card__ribbon
            span.icon.icon-home
            | New
          .product-card__images
            img(src="/assets/images/products/product22.webp", alt="product22")
            img(src="/assets/images/products/product23.webp", alt="product23")
          .product-card__quick-add
            .product-card__btn
              span.icon.icon-plus.mr-5
              |Quick add
            .product-card__size-panel
        .product-card--bottom
          h3.product-card__title Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo sint quas molestiae totam magnam officiis laudantium, maiores mollitia perspiciatis ad, maxime fugit commodi ipsam dolore omnis velit? Ex, pariatur reprehenderit!
          .product-card__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .product-card__color-variants 3 colors
          .product-card__price 399
