block product-card
  .product-card
    .product-card--top
      .product-card__ribbon New
      .product-card__images
        img(src="../../../assets/images/products/product03.webp", alt="123")
    .product-card--bottom
      .product-card__title aaaaa
      .product-card__desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, eos autem consectetur optio aliquid assumenda odio unde quisquam, omnis architecto obcaecati aut, saepe fugiat voluptatem facilis. Natus molestias cupiditate iure.
      .product-card__color-variants 3 colors
      .product-card__price 399