/// Apply style for Mobile screen only
@mixin mqMobile599 {
  @media(max-width: 599px){
    @content;
  }
}

/// Apply style for Tablet screen 600px and Up
@mixin mqTablet600 {
  @media(min-width: 600px){
    @content;
  }
}

/// Apply style for Tablet screen 900px and Up
@mixin mqTabletLg900 {
  @media(min-width: 900px){
    @content;
  }
}
/// Apply style for Tablet screen 1200px and Up
@mixin mqDesktop1200 {
  @media(min-width:1200px){
    @content;
  }
}
/// Apply style for Tablet screen 1800px and Up
@mixin mqDesktop1800 {
  @media(min-width: 1800px){
    @content;
  }
}