block header
  header#header
    .wrapper.container
      h1#logo
        a(href='/')
          img(src='assets/images/logo.svg' alt='Logo image')
      nav
        button#btn-menu-toogle.btn-menu-toogle(type='button')
          span.icon.icon-navigation-menu
        ul#top-menu.nav-menu.hidden
          li
            a.nav-active(href='/product.html') Products
          li
            a(href='#') Services
            ul
              li
                a(href='#') Services 1
              li
                a(href='#') Services 2
                ul
                  li
                    a(href='#') Services 2.1
                  li
                    a(href='#') Services 2.2
                  li
                    a(href='#') Services 2.3
              li
                a(href='#') Services 3
              li
                a(href='#') Services 4
          li
            a(href='#') Test
            ul
              li
                a(href='#') Test 1
              li
                a(href='#') Test 2
                ul
                  li
                    a(href='#') Test 2.1
                  li
                    a(href='#') Test 2.2
                  li
                    a(href='#') Test 2.3
              li
                a(href='#') Test 3
              li
                a(href='#') Test 4
          li
            a(href='/contact.html') Contact Us
          li
            a(href='/sign-up.html') Sign Up
          li
            a(href='/sign-in.html') Sign In
          li
            a(href='/cart.html')
              span.icon.icon-shopping-cart.m-5
              |               Your cart
          li
            a#btn-search-top.btn-search(href='#')
              span.icon.icon-search
          li.language-switcher
            select#language-switcher.select2.language-switcher(name='language-switcher')
      form.search-box(action='')
        input.search-input(type='text' placeholder='Type here to search...')
