block social-button-list
  section.sec-social-block
    .social-list.social-list--vert
      a.facebook(href='https://www.facebook.com/' target='_blank')
        i.icon.icon-facebook
      a.facebook-messenger(href='https://www.messenger.com/' target='_blank')
        i.icon.icon-facebook-messenger
      a.instagram(href='https://www.instagram.com/danhthanh418/' target='_blank')
        i.icon.icon-instagram
      a.twitter(href='https://twitter.com/' target='_blank')
        i.icon.icon-twitter
      a.google(href='https://google.com/' target='_blank')
        i.icon.icon-google-plus
      a.linkedin(href='https://linkedin.com/' target='_blank')
        i.icon.icon-linkedin
      a.youtube(href='https://youtube.com/' target='_blank')
        i.icon.icon-youtube
      a.github(href='https://github.com/thanhdanh-icdvn' target='_blank')
        i.icon.icon-github
      a.zalo(href='https://zalo.me/danhthanh418' target='_blank')
        i.icon.icon-zalo
