// default color
$btn-default-color: #333 !default;
$btn-default-bg: #fff !default;
$btn-default-border: #ccc !default;

/* btn bg */
$btn-bg-success:#4CAF50 !default;
$btn-bg-info:#008CBA !default;
$btn-bg-error:#F44336 !default;
$btn-bg-warning:#ffc107 !default;
$btn-bg-gray:gray !default;
$btn-bg-black:black !default;
$btn-bg-light:#e7e7e7 !default;

/* color */
$clr-success:#4CAF50 !default;
$clr-info:#008CBA !default;
$clr-error:#F44336 !default;
$clr-warning:#ffc107 !default;
$clr-black:black !default;
$clr-light:#e7e7e7 !default;
$clr-gray:gray !default;
$clr-white:white !default;

// brand color;
$clr-facebook: #4267B2;
$clr-google:#DB4437;
$clr-youtube:#FF0000;
$clr-twitter:#1DA1F2;
$clr-linkedin: #0A66C2;
$clr-netflix:#E50914;
$clr-facebook-messenger:#00C6FF;
$clr-instagram: #DD2A7B;
$clr-github:#171515;
$clr-zalo:#0180C7;