$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$percent-amounts: 100;
$sides: (top, bottom, left, right, x, y, all); // Leave this variable alone

@for $space from 0 through $percent-amounts {
  @each $side in $sides {
    @if $side=='x' {
      .m#{$side}-#{$space} {
        margin-left: #{$space}px !important;
        margin-right:#{$space}px !important;
      }

      .p#{$side}-#{$space} {
        padding: #{$space}px !important;
        padding-right:#{$space}px !important;
      }
    }

    @else if $side=='y' {
      .m#{$side}-#{$space} {
        margin-top: #{$space}px !important;
        margin-bottom: #{$space}px !important;
      }

      .p#{$side}-#{$space} {
        padding: #{$space}px !important;
        padding-right:#{$space}px !important;
      }
    }

    @else if $side=='all' {
      .m-#{$space} {
        margin: #{$space}px !important;
      }
      .p-#{$space} {
        padding: #{$space}px !important;
      }
    }

    @else {
      .m#{str-slice($side, 0, 1)}-#{$space} {
        margin-#{$side}: #{$space}px !important;
      }

      .p#{str-slice($side, 0, 1)}-#{$space} {
        padding-#{$side}: #{$space}px !important;
      }
    }
  }
}