$btn-padding:15px 32px !default;
$btn-transition-duration: 400ms !default;
$fs-default:16px !default;

// header
$top-header-padding: 10px 10px;
$top-header-color-main:black;
$top-header-fs-small:14px;
$top-header-fs-large:18px;
