block cards-list
  .cards
    .card
      .card__wrapper
        .card__title
          span.card__icon.icon.icon-home
          | aaaaaaa
        .card__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas quia qui quibusdam, voluptate autem. Delectus ad aliquam nobis ratione molestias rem illo nam, excepturi, a error vitae temporibus id.
    .card
      .card__wrapper
        .card__title
          span.card__icon.icon.icon-home
          | aaaaaaa
        .card__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas quia qui quibusdam, voluptate autem. Delectus ad aliquam nobis ratione molestias rem illo nam, excepturi, a error vitae temporibus id.
    .card
      .card__wrapper
        .card__title
          span.card__icon.icon.icon-home
          | aaaaaaa
        .card__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas quia qui quibusdam, voluptate autem. Delectus ad aliquam nobis ratione molestias rem illo nam, excepturi, a error vitae temporibus id.
    .card
      .card__wrapper
        .card__title
          span.card__icon.icon.icon-home
          | aaaaaaa
        .card__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas quia qui quibusdam, voluptate autem. Delectus ad aliquam nobis ratione molestias rem illo nam, excepturi, a error vitae temporibus id.
    .card
      .card__wrapper
        .card__title
          span.card__icon.icon.icon-home
          | aaaaaaa
        .card__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas quia qui quibusdam, voluptate autem. Delectus ad aliquam nobis ratione molestias rem illo nam, excepturi, a error vitae temporibus id.
    .card
      .card__wrapper
        .card__title
          span.card__icon.icon.icon-home
          | aaaaaaa
        .card__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas quia qui quibusdam, voluptate autem. Delectus ad aliquam nobis ratione molestias rem illo nam, excepturi, a error vitae temporibus id.
    .card
      .card__wrapper
        .card__title
          span.card__icon.icon.icon-home
          | aaaaaaa
        .card__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas quia qui quibusdam, voluptate autem. Delectus ad aliquam nobis ratione molestias rem illo nam, excepturi, a error vitae temporibus id.
    .card
      .card__wrapper
        .card__title
          span.card__icon.icon.icon-home
          | aaaaaaa
        .card__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas quia qui quibusdam, voluptate autem. Delectus ad aliquam nobis ratione molestias rem illo nam, excepturi, a error vitae temporibus id.
    .card
      .card__wrapper
        .card__title
          span.card__icon.icon.icon-home
          | aaaaaaa
        .card__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas quia qui quibusdam, voluptate autem. Delectus ad aliquam nobis ratione molestias rem illo nam, excepturi, a error vitae temporibus id.
    .card
      .card__wrapper
        .card__title
          span.card__icon.icon.icon-home
          | aaaaaaa
        .card__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas quia qui quibusdam, voluptate autem. Delectus ad aliquam nobis ratione molestias rem illo nam, excepturi, a error vitae temporibus id.
    .card
      .card__wrapper
        .card__title
          span.card__icon.icon.icon-home
          | aaaaaaa
        .card__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas quia qui quibusdam, voluptate autem. Delectus ad aliquam nobis ratione molestias rem illo nam, excepturi, a error vitae temporibus id.
    .card
      .card__wrapper
        .card__title
          span.card__icon.icon.icon-home
          | aaaaaaa
        .card__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas quia qui quibusdam, voluptate autem. Delectus ad aliquam nobis ratione molestias rem illo nam, excepturi, a error vitae temporibus id.
