block cards-list
  .cards
    a(href="").card.card--rounded
      .card__avatar
        img(src="assets/images/post/1.webp",alt="Pic 13")
      img(src="assets/images/post/1.webp").card__featured-image
      .card__wrapper
        .card__title
          span.card__icon.icon.icon-home
          | aaaaaaa
        .card__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas quia qui quibusdam, voluptate autem. Delectus ad aliquam nobis ratione molestias rem illo nam, excepturi, a error vitae temporibus id.
      .card__btn Add to card
    a(href="").card.card--rounded
      .card__avatar
        img(src="assets/images/post/2.webp" ,alt="Pic 14")
      img(src="assets/images/post/2.webp").card__featured-image
      .card__wrapper
        .card__title
          span.card__icon.icon.icon-home
          | aaaaaaa
        .card__desc Lorem ipsum dolor sit amet.
      .card__btn Add to card
    a(href="").card.card--rounded
      .card__avatar
        img(src="assets/images/post/3.webp",alt="Pic 15")
      img(src="assets/images/post/3.webp").card__featured-image
      .card__wrapper
        .card__title
          span.card__icon.icon.icon-home
          | aaaaaaa
        .card__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas quia qui quibusdam, voluptate autem. Delectus ad aliquam nobis ratione molestias rem illo nam, excepturi, a error vitae temporibus id.
      .card__btn Add to card
    a(href="").card.card--rounded
      .card__avatar
        img(src="assets/images/post/4.webp",alt="Pic 13")
      img(src="assets/images/post/4.webp").card__featured-image
      .card__wrapper
        .card__title
          span.card__icon.icon.icon-home
          | aaaaaaa
        .card__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas quia qui quibusdam, voluptate autem. Delectus ad aliquam nobis ratione molestias rem illo nam, excepturi, a error vitae temporibus id.
      .card__btn Add to card
    a(href="").card.card--rounded
      .card__avatar
        img(src="assets/images/post/5.webp" ,alt="Pic 14")
      img(src="assets/images/post/5.webp").card__featured-image
      .card__wrapper
        .card__title
          span.card__icon.icon.icon-home
          | aaaaaaa
        .card__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas quia qui quibusdam, voluptate autem. Delectus ad aliquam nobis ratione molestias rem illo nam, excepturi, a error vitae temporibus id.
      .card__btn Add to card
    a(href="").card.card--rounded
      .card__avatar
        img(src="assets/images/post/6.webp",alt="Pic 15")
      img(src="assets/images/post/6.webp").card__featured-image
      .card__wrapper
        .card__title
          span.card__icon.icon.icon-home
          | aaaaaaa
        .card__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas quia qui quibusdam, voluptate autem. Delectus ad aliquam nobis ratione molestias rem illo nam, excepturi, a error vitae temporibus id.
      .card__btn Add to card
    a(href="").card.card--rounded
      .card__avatar
        img(src="assets/images/post/7.webp",alt="Pic 13")
      img(src="assets/images/post/7.webp").card__featured-image
      .card__wrapper
        .card__title
          span.card__icon.icon.icon-home
          | aaaaaaa
        .card__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas quia qui quibusdam, voluptate autem. Delectus ad aliquam nobis ratione molestias rem illo nam, excepturi, a error vitae temporibus id.
      .card__btn Add to card
    a(href="").card.card--rounded
      .card__avatar
        img(src="assets/images/post/13.webp" ,alt="Pic 14")
      img(src="assets/images/post/13.webp").card__featured-image
      .card__wrapper
        .card__title
          span.card__icon.icon.icon-home
          | aaaaaaa
        .card__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas quia qui quibusdam, voluptate autem. Delectus ad aliquam nobis ratione molestias rem illo nam, excepturi, a error vitae temporibus id.
      .card__btn Add to card
    a(href="").card.card--rounded
      .card__avatar
        img(src="assets/images/post/14.webp",alt="Pic 15")
      img(src="assets/images/post/14.webp").card__featured-image
      .card__wrapper
        .card__title
          span.card__icon.icon.icon-home
          | aaaaaaa
        .card__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas quia qui quibusdam, voluptate autem. Delectus ad aliquam nobis ratione molestias rem illo nam, excepturi, a error vitae temporibus id.
      .card__btn Add to card
    a(href="").card.card--rounded
      .card__avatar
        img(src="assets/images/post/15.webp",alt="Pic 13")
      img(src="assets/images/post/15.webp").card__featured-image
      .card__wrapper
        .card__title
          span.card__icon.icon.icon-home
          | aaaaaaa
        .card__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas quia qui quibusdam, voluptate autem. Delectus ad aliquam nobis ratione molestias rem illo nam, excepturi, a error vitae temporibus id.
      .card__btn Add to card
    a(href="").card.card--rounded
      .card__avatar
        img(src="assets/images/post/16.webp" ,alt="Pic 14")
      img(src="assets/images/post/16.webp").card__featured-image
      .card__wrapper
        .card__title
          span.card__icon.icon.icon-home
          | aaaaaaa
        .card__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas quia qui quibusdam, voluptate autem. Delectus ad aliquam nobis ratione molestias rem illo nam, excepturi, a error vitae temporibus id.
      .card__btn Add to card
    a(href="").card.card--rounded
      .card__avatar
        img(src="assets/images/post/17.webp",alt="Pic 15")
      img(src="assets/images/post/17.webp").card__featured-image
      .card__wrapper
        .card__title
          span.card__icon.icon.icon-home
          | aaaaaaa
        .card__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas quia qui quibusdam, voluptate autem. Delectus ad aliquam nobis ratione molestias rem illo nam, excepturi, a error vitae temporibus id.
      .card__btn Add to card
