block logo-marquee
  section.logoMarqueeSection
    #logoMarqueeSection
      .default-content-container.flex.items-center
        .default-content-container-inner.marquee-wrapper.relative.overflow-hidden.inline-block
          .marquee
            a(target='_blank')
              img.marqueelogo(src='https://cdn.worldvectorlogo.com/logos/tiktok-logo.svg' title='' style='width: auto; max-width: none;')
            a(target='_blank')
              img.marqueelogo(src='https://cdn.worldvectorlogo.com/logos/ngk-3.svg' title='' style='width: auto; max-width: none;')
            a(target='_blank')
              img.marqueelogo(src='https://cdn.worldvectorlogo.com/logos/asus-rog-1.svg' title='' style='width: auto; max-width: none;')
            a(target='_blank')
              img.marqueelogo(src='https://cdn.worldvectorlogo.com/logos/nippon-sanso.svg' title='' style='width: auto; max-width: none;')
            a(target='_blank')
              img.marqueelogo(src='https://cdn.worldvectorlogo.com/logos/comdisco.svg' title='' style='width: auto; max-width: none;')
            a(target='_blank')
              img.marqueelogo(src='https://cdn.worldvectorlogo.com/logos/aricoin-icon.svg' title='' style='width: auto; max-width: none;')
            a(target='_blank')
              img.marqueelogo(src='https://cdn.worldvectorlogo.com/logos/pse-1.svg' title='' style='width: auto; max-width: none;')
            a(target='_blank')
              img.marqueelogo(src='https://cdn.worldvectorlogo.com/logos/scien.svg' title='' style='width: auto; max-width: none;')
            a(target='_blank')
              img.marqueelogo(src='https://cdn.worldvectorlogo.com/logos/e-online.svg' title='' style='width: auto; max-width: none;')
            a(target='_blank')
              img.marqueelogo(src='https://cdn.worldvectorlogo.com/logos/yourhomedirect.svg' title='' style='width: auto; max-width: none;')
            a(target='_blank')
              img.marqueelogo(src='https://cdn.worldvectorlogo.com/logos/nextra-3.svg' title='' style='width: auto; max-width: none;')