.masonry
  .item(style='background-image: url(assets/images/post/1.webp)')
  .item(style='background-image: url(assets/images/post/2.webp)')
  .item(style='background-image: url(assets/images/post/3.webp)')
  .item(style='background-image: url(assets/images/post/4.webp)')
  .item(style='background-image: url(assets/images/post/5.webp)')
.masonry.masonry--style-2
  .item(style='background-image: url(assets/images/post/13.webp)')
  .item(style='background-image: url(assets/images/post/14.webp)')
  .item(style='background-image: url(assets/images/post/15.webp)')
  .item(style='background-image: url(assets/images/post/16.webp)')
  .item(style='background-image: url(assets/images/post/17.webp)')
