{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "ignorePatterns":["**/*.js"],
  "env": {
    "node": true,
    "es2020": true
  },
  "rules": {
    "quotes":[2,"single"]
  }
}