#header {
  $ul-sub-width: 8em;
  $current-bg: $btn-bg-success;
  background-color: lighten($color: $current-bg, $amount: 5%);
  /* Grey background */
  padding: $top-header-padding;
  /* Some padding */
  font-size: $top-header-fs-large;
  /* Big font size */
  position: fixed;
  /* Fixed position - sit on top of the page */
  top: 0;
  width: 100%;
  /* Full width */
  z-index: 10;
  transition: all 200ms ease-in-out;
  box-sizing: border-box;

  &--center {
    text-align: center;
  }

  .wrapper {
    @include flex-row;
    @include flex-center-vert;
    @include flex-wrap(wrap);

    @include mqMobile599 {
      @include align-items(flex-start);
      @include justify-content(flex-start);
    }

    #logo {
      flex: 1;
      @include flex-center-vert;
      height: $top-header-fs-large;
      margin-top: 15px;
      margin-bottom: 15px;

      @include mqMobile599 {
        a {
          img {
            vertical-align: middle;
          }
        }
      }
    }

    nav {
      display: flex;
      flex-direction: column;

      @include mqMobile599 {
        margin-top: 15px;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
      }

      button.btn-menu-toogle {
        position: absolute;
        right: 10px;
        top: 15px;
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        @include flex-center;
        &:focus {
          outline: none;
        }

        .icon {
          color: white;
          font-size: 3em;
        }

        display: none;

        @include mqMobile599 {
          display: flex;
          justify-content: center;
          align-items: center;
        }

      }

      ul.nav-menu {
        @include mqMobile599 {
          @include flex-column;
          width: 100%;
          &.hidden {
            height: 0;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-100%);
            transition: all 1s ease-in-out;
          }

          &.show {
            height: 100%;
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
            transition: all 1s ease-in-out;

          }
        }

      }

      .nav-menu,
      .nav-menu ul,
      .nav-menu li,
      .nav-menu a {
        line-height: normal;
        list-style: none;
        position: relative;
        @include flex-column();
        width: 100%;

        @include mqTablet600 {
          @include flex-row();
        }
      }

      .nav-menu ul {
        opacity: 0;
        position: absolute;
        top: 100%;
        left: -9999px + 20px;
        z-index: 999;
        -webkit-transition: opacity .3s;
        transition: opacity .3s;
        @include flex-column();
      }

      .nav-menu li:hover>ul {
        min-width: $ul-sub-width;
        left: 0;
        opacity: 1;
        z-index: 1000;

        @include mqMobile599 {
          top: 0;
          left: calc(100% + 20px);
        }
      }

      .nav-menu ul li:hover>ul {
        top: 0;
        left: 100%;

        @include mqMobile599 {
          left: calc(100% + 20px);
        }
      }

      .nav-menu li {
        cursor: default;
        float: left;
        white-space: nowrap;
      }

      .nav-menu ul li {
        float: none;
      }

      /* sub width */
      .nav-menu ul {
        min-width: $ul-sub-width;
        -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
      }

      /* root */
      .nav-menu a {
        padding: 8px 10px;
        color: white;
        font-weight: normal;
        font-size: 1rem;
        text-decoration: none;
        width: 100%;
        display: flex;

        &::after {
          position: absolute;
          -webkit-transition: all 0.35s ease;
          transition: all 0.35s ease;
          bottom: 0;
          display: inline-block;
          height: 3px;
          width: 0%;
          content: "";
          left: 0;
          background-color: white;
        }
      }

      /* root: active */
      .nav-menu>li>.nav-active {
        background-color: darken($color: $current-bg, $amount: 5%);

        &::after {
          position: absolute;
          -webkit-transition: all 0.35s ease;
          transition: all 0.35s ease;
          bottom: 0;
          display: inline-block;
          height: 3px;
          content: "";
          left: 0;
          background-color: white;
          ;
          width: 100%;
        }
      }

      /* root: hover/persistence */
      .nav-menu a:hover,
      .nav-menu a:focus,
      .nav-menu li:hover a {
        background: darken($color: $current-bg, $amount: 2%);
        color: #FFF;

        &::after {
          opacity: 1;
          width: 100%;
        }
      }

      /* 2 */
      .nav-menu li li a,
      .nav-menu li:hover li a {
        padding: 8px 10px;
        background: darken($color: $current-bg, $amount: 2%);
        color: #FFF;
        font-size: 12px;
        line-height: normal;

        &::after {
          position: absolute;
          -webkit-transition: all 0.35s ease;
          transition: all 0.35s ease;
          bottom: 0;
          display: inline-block;
          height: 3px;
          width: 0%;
          content: "";
          left: 0;
          background-color: white;
        }
      }

      /* 2: hover/persistence */
      .nav-menu li:hover li a:hover,
      .nav-menu li:hover li a:focus,
      .nav-menu li:hover li:hover a {
        background: darken($color: $current-bg, $amount: 5%);

        &::after {
          opacity: 1;
          width: 100%;
        }
      }

      /* 3 */
      .nav-menu li:hover li:hover li a {
        background: darken($color: $current-bg, $amount: 5%);
        display: flex;
        width: 100%;
        flex: 1;

        &::after {
          position: absolute;
          -webkit-transition: all 0.35s ease;
          transition: all 0.35s ease;
          bottom: 0;
          display: inline-block;
          height: 3px;
          width: 0%;
          content: "";
          left: 0;
          background-color: white;
        }

      }

      /* 3: hover/persistence */
      .nav-menu li:hover li:hover li a:hover,
      .nav-menu li:hover li:hover li a:focus,
      .nav-menu li:hover li:hover li:hover a {
        background: darken($color: $current-bg, $amount: 7%);

        &::after {
          opacity: 1;
          width: 100%;
        }
      }

      /* 4 */
      .nav-menu li:hover li:hover li:hover li a {
        background: darken($color: $current-bg, $amount: 7%);

        &::after {
          position: absolute;
          -webkit-transition: all 0.35s ease;
          transition: all 0.35s ease;
          bottom: 0;
          display: inline-block;
          height: 3px;
          width: 0%;
          content: "";
          left: 0;
          background-color: white;
        }
      }

      /* 4: hover */
      .nav-menu li:hover li:hover li:hover li a:hover,
      .nav-menu li:hover li:hover li:hover li a:focus {
        background: darken($color: $current-bg, $amount: 10%);

        &::after {
          opacity: 1;
          width: 100%;
        }
      }
    }
  }
}