.sec-social-block {
  position: relative;

  .social-list {
    position: fixed;
    right: 10px;
    margin-left: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 50;
    background: transparent;

    a {
      text-decoration: none;
      transform: scale(1);
      transition: transform 300ms ease-in-out;
      background-color: $clr-white;
      border-radius: 50%;
      padding: 5px;
      max-width: 100%;
      border-width: 2px;
      border-style: solid;

      &:hover {
        transform: scale(1.2);
      }

      .icon {
        text-decoration: none;
        font-size: 1.5em;

        &-facebook {
          color: $clr-facebook;
        }

        &-facebook-messenger {
          color: $clr-facebook-messenger;
        }

        &-instagram {
          background: $clr-instagram;
          background: -moz-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
          background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
          background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
          -webkit-background-clip: text;
          -moz-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        &-twitter {
          color: $clr-twitter;
        }

        &-google-plus {
          color: $clr-google;
        }

        &-linkedin {
          color: $clr-linkedin;
        }

        &-youtube {
          color: $clr-youtube;
        }

        &-github {
          color: $clr-github;
        }

        &-zalo {
          color: $clr-zalo;
        }
      }

      +a {
        margin-top: 7px;
      }

      &.facebook {
        border-color: $clr-facebook;
      }

      &.facebook-messenger {
        border-color: $clr-facebook-messenger;
      }

      &.instagram {
        background:linear-gradient(white, white) padding-box,$clr-instagram-gradient border-box;
        border-color: transparent;
      }

      &.twitter {
        border-color: $clr-twitter;
      }

      &.google {
        border-color: $clr-google;
      }

      &.linkedin {
        border-color: $clr-linkedin;
      }

      &.youtube {
        border-color: $clr-youtube;
      }

      &.github {
        border-color: $clr-github;
      }

      &.zalo {
        border-color: $clr-zalo;
      }
    }

    &--vert {
      @include flex-column;
      @include flex-center;
    }

    &--horiz {
      @include flex-row;
      @include flex-center;

      a+a {
        margin-top: 0;
        margin-left: 10px;
      }
    }
  }
}