block product-sidebar
  .main__content--left
    aside.sidebar__wrapper
      h2.sidebar__title This is product side-bar
      .sidebar__content
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cum, dolorem aut quia sed quo dignissimos aliquid nobis rerum ipsum voluptates quae voluptatem asperiores adipisci nesciunt enim, ad, nostrum unde.