.select2 {
  width: 100%;
  @include flex-row;
  @include flex-center;
}

.select2-container {

  .select2-selection--single {
    height: 30px;
    position: relative;
    @include flex-row;
    @include flex-center-vert;

    .select2-selection__rendered {
      line-height: 30px;
      min-width: 10rem;
      outline: none;
    }

    .select2-selection__arrow {
      top: 0;
      right: 0;
    }

    .select2-container {
      &--default {
        .select2-results {
          &__options {
            -webkit-overflow-scrolling: touch;
            /* use momentum scrolling */

          }
        }
      }
    }
  }
  .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: darken($color: $clr-white, $amount: 5%);
    color: $clr-base-333;
  }
}
