block accordion
  .accordion
    button(type="button").accordion__btn Section 1
    .accordion__panel
      .accordion__content
        p aaaaaaaa
  .accordion
    button(type="button").accordion__btn Section 2
    .accordion__panel
      .accordion__content
        p aaaaaaaa
  .accordion
    button(type="button").accordion__btn Section 3
    .accordion__panel
      .accordion__content
        p aaaaaaaa
