block cards-list
  .cards
    a(href="").card.card--rounded
      .card__avatar
        img(src="assets/images/post/1.webp",alt="Card 1")
      .card__wrapper
        img(src="assets/images/post/1.webp").card__featured-image
        .card__inner
          h3.card__title
            span.card__icon.icon.icon-apple-pay-alt
            | Card 1
          .card__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Est molestias doloribus voluptates impedit facilis aspernatur sed nobis ullam odio a! Perspiciatis sequi rem voluptas corporis at! Veritatis amet animi ratione.
      .card__btn Add to card
    a(href="").card.card--rounded
      .card__avatar
        img(src="assets/images/post/2.webp",alt="Pic 13")
      .card__wrapper
        img(src="assets/images/post/2.webp").card__featured-image
        .card__inner
          h3.card__title
            span.card__icon.icon.icon-google-wallet-alt-1
            | Card 2
          .card__desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, quibusdam eos. Maxime, obcaecati cupiditate, iste architecto eum ipsa laudantium impedit doloribus similique quidem eveniet, consectetur itaque sed sint nobis! Excepturi.
      .card__btn Add to card
    a(href="").card.card--rounded
      .card__avatar
        img(src="assets/images/post/3.webp",alt="Pic 13")
      .card__wrapper
        img(src="assets/images/post/3.webp").card__featured-image
        .card__inner
          h3.card__title
            span.card__icon.icon.icon-stripe-alt
            | Card 3
          .card__desc Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates labore perferendis incidunt amet illo, rerum, sapiente consequuntur rem facere atque eaque corrupti sint, vitae doloribus iste dolore fuga animi doloremque.
      .card__btn Add to card
    a(href="").card.card--rounded
      .card__avatar
        img(src="assets/images/post/4.webp",alt="Pic 13")
      .card__wrapper
        img(src="assets/images/post/4.webp").card__featured-image
        .card__inner
          h3.card__title
            span.card__icon.icon.icon-mastercard-alt
            | Card 4
          .card__desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos non suscipit, fuga molestiae vero aliquid, sequi dolores iusto ex sapiente voluptatem corporis nesciunt eum, voluptas omnis accusamus quasi. Nihil, ipsa.
      .card__btn Add to card
