block hamburger
  section.sec-hamburger
    label(for='hamburger')
      input#hamburger.hamburger(type='checkbox')
      span
      span
      span
    label(for='hamburger-2')
      input#hamburger-2.hamburger.hamburger-2(type='checkbox')
      span
      span
      span