$themeColor :red;
$swiperSize: 20px;

body{
  font-family: 'Poppins',sans-serif;
}

@at-root {
  :root {
    --swiper-theme-color: #{$themeColor};
    --swiper-navigation-size: #{$swiperSize};
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: flex-end;

  figure {
    position: relative;
    overflow: hidden;

    figcaption {
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      height: 10vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background-color: rgba($color: #000000, $alpha: 0.5);

      @media screen and (max-width:50rem) {
        height: 5vh;
        font-size: 0.85rem;
      }
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}