$themeColor :#ff0000; //use hex only to set root color for js use
$swiperSize: 30px;

@at-root {
  :root {
    --swiper-theme-color: #{$themeColor};
    --swiper-navigation-size: #{$swiperSize};
  }
}

.swiper {
  width: 100%;
  height: 100%;

  .swiper-button-prev,
  .swiper-button-next {
    &:after {
      opacity: 0.8;
      transform: scale(1.0);
      transition: all 500ms ease-in-out;
      background-color: rgba($color: #000, $alpha: 0.5);
      padding: 15px 20px;
      @include flex-center;
      position: absolute;

      @include mqMobile599() {
        padding: 15px 15px;
      }
    }

    &:hover {
      &:after {
        transform: scale(1.2);
        opacity: 1;
        transition: all 500ms ease-in-out;
      }
    }
  }

  .swiper-button-prev:after {
    transform-origin: left;
    left: -10px;
    border-radius: 0px 50% 50% 0px;
  }

  .swiper-button-next:after {
    transform-origin: right;
    right: -10px;
    border-radius: 50% 0px 0px 50%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    figure {
      position: relative;
      overflow: hidden;

      figcaption {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        height: 10vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: rgba($color: #000000, $alpha: 0.5);

        @media screen and (max-width:50rem) {
          height: 5vh;
          font-size: 0.85rem;
        }
      }

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
}