extends ../layouts/main.pug
block prepend head
  title Đây là trang sản phẩm
block main-content
  .p-product
    .p-product--top
      include ../components/products/_product-banner.pug
    .p-product--bottom.container
      include ../components/products/_product-sidebar.pug
      include ../components/products/_product-list.pug
      section.sec-discover
        h2.discover__heading Discover
        .swiper#discover-list-swiper
          .discover__list.swiper-wrapper
            .discover-card.swiper-slide
              .discover-card__overlay Running shoes
            .discover-card.swiper-slide
              .discover-card__overlay Shoe finder
            .discover-card.swiper-slide
              .discover-card__overlay New arrivals
            .discover-card.swiper-slide
              .discover-card__overlay Outdoor collections
            .discover-card.swiper-slide
              .discover-card__overlay Accessories
            .discover-card.swiper-slide
              .discover-card__overlay The rogger collection
            .discover-card.swiper-slide
              .discover-card__overlay Home Workout
          .swiper-button-prev
          .swiper-button-next
          .swiper-pagination
