extends ../layouts/main.pug
block prepend head
  title Đây là trang sản phẩm
block main-content
  .p-product
    include ../components/products/_product-banner.pug
    include ../components/products/_product-sidebar.pug
    include ../components/products/_product-list.pug
