extends ../layouts/main.pug
block prepend head
  title Đây là trang sản phẩm
block main-content
  -var discoverList =[{discoverName:"Running shoes"},{discoverName:"Shoe finder"},{discoverName:"New arrivals"},{discoverName:"Outdoor collections"},{discoverName:"Accessories"},{discoverName:"Home Workout"}]
  .p-product
    .p-product--top
      include ../components/products/_product-banner.pug
    .p-product--bottom.container
      include ../components/products/_product-sidebar.pug
      include ../components/products/_product-list.pug
      section.sec-discover
        h2.discover__heading Discover
        .swiper#discover-list-swiper
          .discover__list.swiper-wrapper
            +discoverList(discoverList)
          .swiper-button-prev
          .swiper-button-next
          .swiper-pagination
