$font-weight-list:(
  'lighter':lighter,
  'normal':normal,
  'bold':bold,
  'bolder':bolder,
  'initial':initial,
  'inherit':inherit
);

@for $i from 2 through 18{
  .fs-#{calc($i * 50)}{
    font-weight: #{$i * 50} !important;
  }
}
@each $fw-key,$fw-val in $font-weight-list{
  .fw-#{$fw-key}{
    font-weight:#{$fw-val} !important;

  }
}
